body {
    background-color: black;
    margin-bottom: auto;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/57feb5eb-1885-4642-b1bb-c80ebf689e82/d10g1tr-45f5ea7d-d5e1-4703-a695-e16147527978.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU3ZmViNWViLTE4ODUtNDY0Mi1iMWJiLWM4MGViZjY4OWU4MlwvZDEwZzF0ci00NWY1ZWE3ZC1kNWUxLTQ3MDMtYTY5NS1lMTYxNDc1Mjc5NzguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bTHEJJujpxAPQOSeWZEDvejU7f-jWioMBm1AX0fNOso");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-size: 60%;
}   