body {
    background-color: black;
    margin-bottom: auto;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/57feb5eb-1885-4642-b1bb-c80ebf689e82/d10g1tr-45f5ea7d-d5e1-4703-a695-e16147527978.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU3ZmViNWViLTE4ODUtNDY0Mi1iMWJiLWM4MGViZjY4OWU4MlwvZDEwZzF0ci00NWY1ZWE3ZC1kNWUxLTQ3MDMtYTY5NS1lMTYxNDc1Mjc5NzguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bTHEJJujpxAPQOSeWZEDvejU7f-jWioMBm1AX0fNOso");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-size: 60%;
}

.enter {
    background-color: #a5a5a5;
    color: black;
    text-align: center;
    padding: 10px 12px;
    font-size: 32px;
    font-family: 'Times New Roman', Impact;
}

.enter:hover {
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
}

.top-nav {
    background-color: #2e2e2e;
    overflow: hidden;
}

.top-nav a {
    float: left;
    text-align: center;
    padding: 10px 12px;
    font-size: 32px;
    font-family: 'Times New Roman', Impact;
    color: white;
}

.top-nav a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.top-nav a.active {
    background-color: #0f0f0f;
    color: white;
}

.coverart {
    text-align: center;
    margin: auto;
    width: 600px;
}

.video {
    margin-top: 15em;
    margin-bottom: 1em;
    text-align: center;
}

.kiraTitle {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 225px;
    text-shadow: 10px 5px 5px black;
    margin-bottom: 0%;
}

.kiraP {
    color: white;
    font-size: 24px;
    text-align: center;
    text-shadow: 10px 5px 5px black;
    margin-bottom: 0em;
}

.kiraLastP {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    text-shadow: 10px 5px 5px black;
}

.entrance-img {
    margin-top: 2em;
    text-align: center;
}

.cameras {
    margin-top: 10em;
}

.notebook-section {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.paper {
    max-width: 40%;
    height: auto;
}

.names {
    color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}